@media(max-width:767px){  /*for mobile view*/
	
	nav{
		display: grid;
        grid-template-columns: 75% 25%;
		height: 3rem;
		width: 94%;
	}

	#brand a{
		font-size: 15px;
	}

	#brand{
		padding: 1.6rem 0 1.6rem 1rem;
	}

	header{
	 	display: flex;
	 	align-items: flex-end;
	 	height: 750px;
	 }

	.menu{
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 0;
	}

	.menu li{
		width: 100vw;
	}

	.menu li a{
		font-size: 20px;
		color: white;
	} 


	.toggle{
		display: initial;
		justify-self: flex-end;
	}

	.toggle i{
		font-size: 1.3rem;
	}	

	.header-contents h1{
 		font-size: 40px;
    }

	p{
 		font-size: 13px;
    }

	.lm{
		padding: 10px 45px;
		text-align: center;
	}

	.cw{
		display: grid;
		grid-template-columns: 100%;
	}
	

	.courses{
		display: grid;
		grid-template-columns: 100%;
	 	padding: 0;
	 	margin: 0;
	 	
	}

	.course{
		margin: 20px 0 20px 0;
		padding:0 10px 0 10px;
		width: 220px;
		height: 250px;
		justify-self: center;
		border-radius: 4%;
	}

	.image h2{
		font-size: 28px;
	}

	.images{
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 10px;
	}

	.images .image{
		height: 220px;
		width: 240px;
		justify-self: center;
	}

	.images1{
		display: grid;
		grid-template-columns: 100%;
		margin: 10px 0 150px 0;
		text-align: center;
	}

	.images1 img{
		height: 220px;
		width: 240px;
		justify-self: center;
		padding-left: 0;
	}
	
	.image1{
		margin-bottom: 80px;
	}

	.image1 h3{
		font-size: 22px;
		display: flex;
		align-items: flex-start;
		justify-self: center;
		padding-left: 0;
	}

	.image1 p{
		text-align: justify;
		justify-self: center;
		padding: 0 8% 0 8%;
	}	


	.facility{
		height: 350px;
		width: 420px;
	    margin: auto;
		text-align: left;
	}


	.fourth{
		margin-bottom: 40px;
	}


	.students{
		display: grid;
		grid-template-columns: 100%;
		width: unset;
		text-align: center;
		grid-gap: 10px;
    }

    .student1, .student2{
		margin: 0;
		padding: 0;
		border-radius: 3%;
		justify-self: center;
		width: 85%;
		height: auto;
 	}

 	.comment{
		margin: 16px 20px 0px 10px;
		text-align: left;
	}

	.comment p{
		font-size: 14px;
	}

	.profile{
		padding-left: 10px;
	}

	

	.fifth h6{
		font-size: 10px;
	}

	.fifth{
		grid-template-columns: 55% 45%;
		padding-left: 2px;	
	}

	

}

@media (min-width: 425px) and (max-width: 524px){

	.fifth{
		grid-template-columns: 55% 45%;
		padding-left: 5px;	
	}

	.fifth h6{
		font-size: 12px;
	}

	
}

@media (min-width: 525px) and (max-width: 767px){
	nav{
		width: 96%;
	}

	.image1 p{
		padding: 0 20% 0 20%;
	}

	.header-contents{
		padding-top: 330px;
	}

	button{
		margin-top: 13px;
	}

	header{
	 	height: 600px;
	}

	.fifth{
		grid-template-columns: 60% 40%;
		padding-left: 10px;	
	}

	.fifth h6{
		font-size: 16px;
	}
	
}

@media (min-width: 768px) and (max-width:1023px){

	nav{
		display: grid;
        grid-template-columns: 75% 25%;
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		transition: ease all 1.3s;
		position: absolute;
		width: 97%;
	}

	.toggle{
		display: initial;
		justify-self: flex-end;
	}	

	header{
	 	display: flex;
	 	align-items: flex-end;
	}

	#brand a{
		font-size: 22px;
	}

	.menu{
		flex-direction: column;
		justify-content: flex-start;
		padding-left: 0;
	}


	.menu li{
		width: 100vw;
	}

	.menu li a{
	 	text-decoration: none;
	 	font-size: 1.4rem;
	 	margin: 30px 25px 30px 25px;
		color: white;
	}

	
	.course{
		margin: 20px 10px 20px 10px;
		padding:0 3px 0 3px;
		width: 220px;
		height: 250px;
		justify-self: center;
		border-radius: 4%;
	}

	.courses{
	 	padding-left: 20px;
	 	padding-right: 20px;	
	}


	.image h2{
		font-size: 28px;
	}

	.images{
	padding: 15px 15px 15px 15px;
   }

	.images .image{
		height: 170px;
		width: 200px;
		justify-self: center;
	}
 	
 	.image1 h3{
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 8px;
	}

	.images1 img{
		height: 150px;
		width: 180px;
		justify-self: center;
		padding-left: 0;
	}
    
    p{
    	font-size: 16px;
    }

    .students{
		display: grid;
		grid-template-columns: 50% 50%;
		margin-left: 30px;
		margin-right: 30px;
		grid-gap: 8px;
		width: unset;
	}

	.student1{
		background-color: burlywood;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0 10px;
		border-radius: 3%;
		width: unset;
		justify-self: flex-end;
		height: 360px;
	}

	.student2{
		background-color: burlywood;
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0 10px;
		display: flex;
		align-self: end;
		width: unset;
		height: 360px;		
	}

	.comment{
		margin: 0px 0px 0px 15px;
	}

	.comment p{
		margin-top: 15px;
		margin-bottom: 0;
	}

	.fifth{
		grid-template-columns: 55% 45%;
		padding-left: 40px;	
	}

	
}


@media (min-width: 1024px) and (max-width:1430px){
	#brand {
		align-items: center;
		margin-bottom: 0.9rem;
	}
	.images .image{
	height: 220px;
	width: 280px;
	}

	.images1 img{
	height: 220px;
	width: 280px;
	}

	.fifth{
		grid-template-columns: 55% 45%;
		padding-left: 70px;	
	}
}


@media (min-width: 1022px) {
	
	.header-contents p{
	 	padding: 1% 20%;
	}

	.header-contents{
		padding-top: 450px;
	}

	
	.menu a{
		color: orangered;
	}
}

@media (min-width: 1400px) {
	.fifth{
		grid-template-columns: 50% 50%;
		padding-left: 150px;	
	}
}



@media(max-height:640px){

	nav{
		height: 16vh;
	}

	.save{
		height: 14rem;
	}
}

@media(min-height:641px) and (max-height:800px){
	.save{
		height: 15rem;
	}
}

@media(min-height:801px) and (max-height:990px){
	.save{
		height: 15rem;
	}
}

@media(min-height:991px) and (max-height:1200px){
	nav{
		height: 7vh;
	}
	.save{
		height: 15.5rem;
	}
}

@media(min-height:1201px){
	nav{
		height: 7vh;
	}
	.save{
		height: 15.5rem;
	}
}
